    <div class="w-[80vw] mt-5">
    <h1 class="text-xl font-semibold">Configuración</h1>
    </div>

    <div class=" border-gray-300 bg-gray-200 my-5 rounded-md">
        <div >
            <h1 class="pt-2 px-2">Añadir proveedor</h1>
        </div>
        <div class="flex justify-between">
            <div class="flex flex-col flex-1 p-2">
            

                <div class="flex flex-col">
                <div class="my-1">
                    <input class="w-full p-2 border border-gray-400 rounded" type="text">
                </div>
                <div class="my-1">
                    <textarea class="w-full p-2 border border-gray-400 rounded" rows="4"></textarea>
                </div>
                </div>
            </div>

            <div class="flex flex-col w-[10%] p-2">
                <button class="flex items-center justify-center bg-purple-600 rounded-sm hover:bg-purple-700 text-white p-1 my-.5  py-2 text-sm">
                Proveedores
                </button>
                <button class="flex flex-1  justify-center items-center my-1 bg-purple-600 rounded-sm hover:bg-purple-700 text-white p-1.5 text-sm">
                Añadir
                </button>
            </div>

        </div>
    
    </div>

     <div class=" border-gray-300 bg-gray-200 my-5 rounded-md">
        <div >
            <h1 class="pt-2 px-2">Añadir tipo de Producto</h1>
        </div>
        <div class="flex justify-between">
            <div class="flex flex-col flex-1 p-2">
            

                <div class="flex flex-col">
                <div class="my-1">
                    <input class="w-full p-2 border border-gray-400 rounded" type="text">
                </div>
                <div class="my-1">
                    <textarea class="w-full p-2 border border-gray-400 rounded" rows="4"></textarea>
                </div>
                </div>
            </div>

            <div class="flex flex-col w-[10%] p-2">
                <button class="flex items-center justify-center bg-purple-600 rounded-sm hover:bg-purple-700 text-white p-1 my-.5  py-2 text-sm">
                Tipo
                </button>
                <button class="flex flex-1  justify-center items-center my-1 bg-purple-600 rounded-sm hover:bg-purple-700 text-white p-1.5 text-sm">
                Añadir
                </button>
            </div>

        </div>
    
    </div>







