<div class="w-[80vw] mt-5">
   <h1 class="text-2xl">Marketplace de proveedores</h1>

</div>



<form [formGroup]="formFiltros" (ngSubmit)="buscar()"
  class="inline-flex border border-gray-300 bg-gray-200 my-5 items-center p-4 text-sm">

  <!-- Tipo -->
  <div class="flex items-center ml-1">
    <div>Tipo</div>
    <div class="ml-3">
      <select
        class="w-[15rem] border bg-gray-100"
        formControlName="idTipoProducto">
        <option [ngValue]="null">Selecciona un tipo</option>
        <option *ngFor="let tipo of categorias"
                [ngValue]="tipo.idTipoProducto">
          {{ tipo.nombre }}
        </option>
      </select>
    </div>
  </div>

  <!-- Estado -->
  <div class="flex items-center ml-5">
    <div>Estado</div>
    <div class="ml-3">
      <select
        class="w-[10rem] bg-white"
        formControlName="esActivo">
        <option [ngValue]="null">Todos</option>
        <option [ngValue]="true">Activo</option>
        <option [ngValue]="false">Inactivo</option>
      </select>
    </div>
  </div>

  <!-- Búsqueda -->
  <div class="flex items-center ml-5">
    <input
      class="w-[18rem]"
      type="text"
      formControlName="busqueda"
      placeholder="Buscar por nombre o SKU">
  </div>

  <!-- Botón -->
  <div class="ml-4">
    <button
      type="submit"
      class="bg-purple-600 rounded-sm hover:bg-purple-700 text-white p-1.5 text-sm">
      <i class="fa-solid fa-magnifying-glass"></i> Buscar
    </button>
  </div>
</form>



<div class="relative overflow-x-auto bg-neutral-primary-soft shadow-xs rounded-base border border-default">
    <table class="w-full text-sm text-left rtl:text-right text-body">
        <thead class=" bg-gray-300 text-sm text-body bg-neutral-secondary-soft border-b rounded-base border-default">
            <tr>
                <th scope="col" class="px-6 py-3 font-medium">
                    Proveedor
                </th>
                <th scope="col" class="px-6 py-3 font-medium">
                    Producto
                </th>
                <th scope="col" class="px-6 py-3 font-medium">
                    SKU Prod. Prov.
                </th>
                <th scope="col" class="px-6 py-3 font-medium text-center">
                    Precio Prov.
                </th>
                 <th scope="col" class="px-6 py-3 font-medium text-center">
                    Precio Mercado
                </th>
                <th scope="col" class="px-6 py-3 font-medium text-center">
                    Utilidad neta
                </th>
                <th scope="col" class="px-6 py-3 font-medium text-center">
                    Accion
                </th>
             
             
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let arti of catalogo | paginate: { itemsPerPage: 5, currentPage: page }" lass="bg-neutral-primary border-b border-default">
                <th scope="row" class="px-6 py-4 font-medium text-heading whitespace-nowrap">
                    {{arti.nombreProveedor}}
                </th>
                <td class="px-6 py-4">
                    {{arti.nombreProducto}}
                </td>
                <td class="px-6 py-4">
                    {{arti.claveProveedor}}
                </td>
                <td class="px-6 py- text-center text-center">
                    {{arti.costo | currency:'MXN':'symbol':'1.2-2'}}
                </td>
                <td class="px-6 py-4 text-center text-center">
                    {{arti.precio | currency:'MXN':'symbol':'1.2-2'}}
                </td>
                  <td class="px-6 py-4 text-center">
                     {{ getUtilidad(arti) | currency:'MXN':'symbol':'1.2-2' }}
                  </td>
                  <td class="py-4 flex justify-center text-lg text-gray-500 gap-3">
                      
                      <button  (click)="eliminarRelacion(arti.idProducto,arti.idProductoProveedor)">
                        <i class="fa-solid fa-square-xmark transition-transform hover:scale-125 hover:text-red-600"></i>
                      </button>
                  </td>
                
            </tr>
          
        </tbody>
    </table>
</div>
<pagination-controls
  (pageChange)="page = $event"
  previousLabel="Anterior"
  nextLabel="Siguiente">
</pagination-controls>
