

<div class="my-4 mt-5">
  <h1 class="text-2xl">Lista de productos</h1>
  <div>
    <p>Lista de precio de fabricante de productos disponibles</p>
  </div>
</div>

<div class="w-100 relative overflow-x-auto bg-neutral-primary-soft shadow-xs rounded-base border border-default">
  <table class="w-full text-sm text-left rtl:text-right text-body">
    <thead class="text-sm text-body bg-neutral-secondary-soft border-b rounded-base border-default">
      <tr>
        <th class="px-6 py-3 font-medium">Producto</th>
        <th class="px-6 py-3 font-medium">SKU</th>
        <th class="px-6 py-3 font-medium">Precio fabricante</th>
        <th class="px-6 py-3 font-medium">Tipo</th>
        <th class="px-6 py-3 font-medium">Estatus</th>
        <th class="px-6 py-3 font-medium"></th>
      </tr>
    </thead>

    <tbody>
      <tr 
        *ngFor="let item of productos | paginate: { itemsPerPage: pageSize, currentPage: page }"
        class="bg-neutral-primary border-b border-default hover:bg-slate-200 cursor-pointer"
      >
        <th class="px-6 py-4 font-medium text-heading whitespace-nowrap">
          {{ item.nombreProducto }}
        </th>

        <td class="px-6 py-4">{{ item.clave }}</td>
        <td class="px-6 py-4">${{ item.precio }}</td>
        <td class="px-6 py-4">{{ item.tipoProducto }}</td>
        <td class="px-6 py-4">{{item.esActivo ? 'Activo' : 'Inactivo'}}
        </td>

        <td class="py-4 flex justify-center text-lg text-gray-500 gap-3">
            <button (click)="editarProducto(item)">
            <i class="fa-solid fa-pen-to-square transition-transform hover:scale-125 hover:text-purple-600"></i>
          </button>
          <button (click)="showVincular(item.idProducto)">
            <i class="fa-solid fa-up-right-from-square transition-transform hover:scale-125 hover:text-purple-600"></i>
          </button>
          <button (click)="eliminarProducto(item.idProducto)">
            <i class="fa-solid fa-square-xmark transition-transform hover:scale-125 hover:text-red-600"></i>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Paginación -->
<div class="flex justify-end mt-4">
  <pagination-controls
    previousLabel="Anterior"
    nextLabel="Siguiente"
    (pageChange)="page = $event">
  </pagination-controls>
</div>



<app-modal
  [open]="showVinc"
  title="Catalogar producto de proveedor"
  (close)="showVinc = false">
  <div>
    <form [formGroup]="formVinc" (ngSubmit)="vincular()" class="flex flex-col gap-3">

  <div>Seleccionar proveedor</div>
  <!-- Proveedor -->
  <select formControlName="idProveedor">
    <option value="">Selecciona proveedor</option>
    <option *ngFor="let pr of proveedores" [value]="pr.idProveedor">
      {{ pr.nombre }}
    </option>
  </select>
<div>Info. Articulo del producto</div>
  <!-- Clave proveedor -->
  <input
    type="text"
    placeholder="Clave del proveedor"
    formControlName="claveProveedor"
  />

  <!-- Costo -->
  <input
    type="number"
    step="0.01"
    placeholder="Costo"
    formControlName="costo"
  />

  <button class="bg-purple-600 rounded-sm hover:bg-purple-700 text-white p-1.5 text-sm w-[6rem]" type="submit" >
    Guardar
  </button>

</form>
  </div>


</app-modal>






<app-modal
  [open]="showModal"
  title="Detalle de producto"
  (close)="showModal = false">
  <div>
    <form [formGroup]="form" (ngSubmit)="submit()" class="space-y-4">

      <!-- Clave -->
      <div class="flex flex-col">
        <div>SKU</div>
        <div>
          <input
            class="w-full border border-1 bg-gray-100"
            type="text"
            formControlName="clave"
            placeholder="Clave del producto"
          />
        </div>
        <div>
          <small class="text-red-800"
            *ngIf="form.get('clave')?.invalid && form.get('clave')?.touched">
            Clave requerida
          </small>
        </div>
      </div>

      <!-- Nombre -->
      <div class="flex flex-col">
        <div>Producto</div>
        <div>
          <input
            class="w-full border border-1 bg-gray-100"
            type="text"
            formControlName="nombre"
            placeholder="Nombre del producto"
          />
        </div>
        <div>
          <small class="text-red-800"
            *ngIf="form.get('nombre')?.invalid && form.get('nombre')?.touched">
            Nombre requerido
          </small>
        </div>
      </div>

      <!-- Precio -->
      <div class="flex flex-col">
        <div>Precio mercado</div>
        <div>
          <input
            class="w-full border border-1 bg-gray-100"
            type="number"
            formControlName="precio"
            placeholder="Precio del producto"
          />
        </div>
        <div>
          <small class="text-red-800"
            *ngIf="form.get('precio')?.invalid && form.get('precio')?.touched">
            Precio requerido
          </small>
        </div>
      </div>
      <div class="flex">
        <div class="flex flex-col w-[50%]">
          <div>Tipo</div>
          <div>
            <select
              class="w-full border border-1 bg-gray-100"
              formControlName="tipo">
                <option [ngValue]="null">Selecciona un tipo</option>
              <option *ngFor="let tipo of categorias" [ngValue]="tipo.idTipoProducto">{{ tipo.nombre }}</option>
            </select>
          </div>
          <div>
            <small class="text-red-800"
              *ngIf="form.get('tipo')?.invalid && form.get('tipo')?.touched">
              Tipo requerido
            </small>
          </div>
        </div>


      </div>
      <!-- Tipo -->
     
      <!-- Estatus -->
      <div class="flex flex-col">
        <div>Estatus</div>
        <div>
          <select
            class="w-full border border-1 bg-gray-100"
            formControlName="estatus">
  <option [ngValue]="null">Selecciona una opción</option>
  <option [ngValue]="true">Activo</option>
  <option [ngValue]="false">Inactivo</option>
          </select>
        </div>
        <div>
          <small class="text-red-800"
            *ngIf="form.get('estatus')?.invalid && form.get('estatus')?.touched">
            Estatus requerido
          </small>
        </div>
      </div>

      <!-- Botón -->
      <div class="flex justify-end gap-2 p-4 border-t">
        <button class="bg-purple-600 text-white px-2 hover:bg-purple-800" type="submit">
          Agregar producto
        </button>
      </div>
     x

    </form>
  </div>
</app-modal>
