/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+Mono:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: "Montserrat", sans-serif;
    transition: all ease .2s;
}

input, select, button {
    border: 1px;
    border-radius: 2px;
    transition: all ease .3s;
    padding: 5px;

}


input:focus{
   outline: none;   /* ← quita el borde azul del navegador */
    border: none; 
}



.ngx-pagination .current {
  background: #793bb3 !important; /* purple-600 */
  color: white;
  border-radius: 6px;
}
